/* -----------------------FOR index.html----------------------- */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    margin-bottom: 10px;
    border: 1px solid black;
}

.modal_background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    margin: 0;
}

.modal_window {
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
    margin-inline: 40%;
    margin-top: 1%;
    background-color: #fff;
    padding: 10px;
    text-align: center;

}

.blockVisibility {
    display: none;
}

.block {
    height: 100px;
    border: 1px solid black;
    margin-bottom: 10px;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: lightgreen;
    border-style: dashed;
}

.blue {
    background-color: blue;
}


/* -----------------------FOR forma.html----------------------- */

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
select {
    margin-bottom: 10px;
}

#json-output {
    margin-top: 20px;
    white-space: pre-line;
}